<div class="p-xl-5 p-lg-5 p-md-4 p-4"></div>
<div class="p-xl-5 p-lg-5 p-md-4 p-4"></div>
<div class="container ">
  <div class="top-contain row">
    <div class="col-xl-7 col-lg-7 top-slide d-flex justify-content-end align-items-center">
      <div class="swiper" data-aos="fade-right" data-aos-duration="1300">
        <swiper-container effect="coverflow" parallax="true" speed="1500" [loop]="true" autoplay="true">
          @for (url of slide; track url){
          <swiper-slide>
            <img [src]="url" alt="" srcset="" />
          </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 pe-xl-5 pe-lg-5 d-flex flex-column justify-content-center align-items-center">
      <div data-aos="fade-left" data-aos-duration="1300"
        class="pe-xl-5 pe-lg-5 p-md-4 top-text d-flex flex-column justify-content-center align-items-center">
        <div class="text-top">Welcome !</div>
        <div class="text-top">AGC</div>
        <div class="text-top">Youth</div>
      </div>
    </div>
  </div>
</div>
<div class="p-xl-5 p-lg-5 p-md-5"></div>
<div class="p-xl-3 p-lg-3"></div>
<div class="pe-xl-5 pe-lg-5 ps-xl-5 ps-lg-5">

</div>
<div class="home-body row d-flex justify-content-center">
  <div class="col-xl-8 col-lg-10 col-md-10">
    <div class="body-content ">
      <div data-aos="zoom-in" data-aos-duration="1300" class="p-4 d-flex justify-content-center align-items-center">
        <div class="text-aga">Amazing Grace Church ( <span>AGC</span> )</div>
      </div>

      <div class="row aga-content w-small">
        <div class="col-xl-6 col-lg-6 p-0 ps-md-1 w-small m-0">
          <div data-aos="fade-right" data-aos-duration="1300" class="row p-1 w-small">
            <div class="img-one col-12 p-1 col-xl-12 col-lg-12 col-md-6 col-sm-12">
              <img src="../../../../assets/home/content/content1.jpg" alt="" srcset="">
            </div>
            <div class="img-two p-1 col-12 col-xl-12 col-lg-12 col-md-6 col-sm-12">
              <img src="../../../../assets/home/content/content3.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="1300" class="col-xl-6 col-12 col-sm-12  col-lg-6 p-0 ps-1 w-small">
          <div class="img-three p-2 ps-2">
            <img src="../../../../assets/home/content/content2.jpg" alt="" srcset="">
          </div>
        </div>

      </div>
      <div class="p-xl-5 p-lg-5 p-md-5 p-4 sm-whoship"></div>
      <div class="p-xl-4 p-lg-4 p-md-4 p-2 sm-whoship"></div>
      <div class="row d-flex justify-content-center align-items-center sm-whoship">
        <div data-aos="zoom-out-up" data-aos-duration="1300" class="col-12 position-relative sm-whoship">
          <img class="home-whorship" src="../../../../assets/home/content/content4.jpg" width="100%" alt="">
          <div class="whorship"></div>
          <div class="whorship-text d-flex justify-content-center">
            <div class="whor-header d-flex flex-column align-items-center">
              <div class="text-head">
                Why we worship to lord ?
              </div>
              <div class="text-dsc text-center pt-lg-5 pt-md-5 pt-sm-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="p-xl-5 p-lg-5 p-md-5 p-4"></div>
      <div class="p-xl-4 p-lg-4 p-md-4 p-2"></div>
      <div class="row user ps-md-4">
        <div data-aos="fade-up" data-aos-duration="1300"
          class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-1 user-small"><img
            src="../../../../assets/home/content/user1.jpg" alt="">
        </div>
        <div data-aos="fade-down" data-aos-duration="1300"
          class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-1 user-small"><img
            src="../../../../assets/home/content/user2.jpg" alt="">
        </div>
        <div data-aos="fade-up" data-aos-duration="1300"
          class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-1 user-small"><img
            src="../../../../assets/home/content/user3.jpg" alt="">
        </div>
        <div data-aos="fade-down" data-aos-duration="1300"
          class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-1 user-small"><img
            src="../../../../assets/home/content/user4.jpg" alt="">
        </div>

      </div>
    </div>
    <div class="user-small-pd"></div>
    <div class="user-small-pd-one"></div>
  </div>

</div>
<div class="home-body-card row d-flex justify-content-center">
  <div class="p-xl-5 p-lg-5 p-md-5"></div>
  <div class="col-xl-8 col-lg-10 col-md-10">
    <div class="row">
      <div data-aos="fade-right" data-aos-duration="1200" data-aos-offset="200" data-aos-easing="ease-in-sine"
        class="col-xl-6 col-lg-7 pt-md-4">
        <img class="card-img" src="../../../../assets/home/content/love.jpg" alt="" srcset="">
      </div>
      <div data-aos="fade-left" data-aos-offset="200" data-aos-duration="1200" data-aos-easing="ease-in-sine"
        class="col-xl-6 col-lg-5 d-flex flex-column align-items-center">
        <div class="card-head pb-xl-4 pb-lg-2 pb-md-2 pt-md-4">Love in Jesus</div>
        <div class="card-text text-center p-2">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the
        </div>
      </div>
    </div>
  </div>
  <div class="p-xl-5 p-lg-5 p-md-5"></div>
</div>
<div class="home-body-society row d-flex justify-content-center">
  <div class="p-xl-3 p-lg-3 p-md-3"></div>
  <div class="p-4 d-flex justify-content-center align-items-center">
    <div class="text-society">We love society</div>
  </div>

  <div class="col-xl-8 col-lg-10 col-md-10">
    <div class="row">
      @for(url of society; track url){
      <div data-aos="flip-left" data-aos-duration="1300"
        class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-center align-items-center p-2">
        <img src="{{url}}" alt="" srcset="">
      </div>
      }
    </div>
  </div>
  <div class="p-5"></div>
</div>
<div class="home-body-card row d-flex justify-content-center">
  <div class="p-xl-5 p-lg-5 p-md-5"></div>
  <swiper-container data-aos="zoom-in-up" data-aos-duration="1100" autoplay="true" [loop]="true" [slidesPerView]="1"
    [autoplay]="{ delay: 6000 }">
    @for (url of bottom; track url){
    <swiper-slide class="p-3 d-flex justify-content-center">
      <div class="col-xl-8 col-lg-10 col-md-10">
        <div class="row buttom-card p-lg-5 p-md-5">
          <div class="col-xl-5 col-lg-7 col-md-12 p-0 ">
            <img class="buttom-card-image" src="{{url}}" alt="" srcset="">
          </div>
          <div class="col-xl-7 col-lg-5 col-md-12  d-flex flex-column align-items-center">
            <div class="card-head pb-xl-4 pb-lg-2 pb-md-2 pt-md-4 pt-lg-2">Love in Jesus</div>
            <div class="card-text text-center p-2">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>

  <div class="p-xl-5 p-lg-5 p-md-5"></div>
</div>