<div class="top-contain position-relative">
    <div class="top-img position-relative">
        <img src="../../../../../assets/band/header/headerbg.jpg" alt="">
        <div class="img-bg m-0"></div>
    </div>

    <div class="row top-card d-flex justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-10 col-12 row p-0 m-0 user ps-md-4">
            <div data-aos="zoom-in-right" data-aos-duration="1300"
                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 p-2 top-img1 d-flex align-items-center justify-content-center">
                <img src="../../../../../assets/logo/agalogo.png" alt="">
            </div>
            <div data-aos="zoom-in-left" data-aos-duration="1300"
                class="col-xl-6 dorm col-lg-6 col-md-6 col-sm-6 col-12 p-2 d-flex justify-content-center align-items-center">
                <img src="../../../../../assets/logo/dorm.png" alt="">
            </div>
        </div>
    </div>
</div>