<div class="top-contain position-relative">
    <div class="top-img position-relative">
        <img src="../../../../assets/contact/headerbg.jpg" alt="">
        <div class="img-bg"></div>
    </div>

    <div class="row top-card m-0 d-flex justify-content-center align-items-center">
        <div class="col-12 col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="top-text d-flex justify-content-center align-items-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 row p-0 small-sc">

                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4 sc-md">
                            <a style="text-decoration: none;" href="https://t.me/AGA_ChristianDiscovery" target="_blank"
                                rel="noopener noreferrer">
                                <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                    <img src="../../../../assets/logo/tele.jpg" alt="" srcset="">
                                    <div class="tel-text d-flex ps-3">
                                        AGC Christian Discovery
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4">
                            <a style="text-decoration: none;" href="https://maps.app.goo.gl/QHU6X7EUpAynsL43A"
                                target="_blank" rel="noopener noreferrer">
                                <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                    <img src="../../../../assets/contact/map.png" alt="" srcset="">
                                    <div class="tel-text d-flex ps-3">
                                        Amazing grace Church
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4">
                            <a style="text-decoration: none;"
                                href="https://www.google.com/maps/place/Live+cafe/@11.5391978,104.886632,67m/data=!3m1!1e3!4m14!1m7!3m6!1s0x31095056abfe13e1:0xb304f309a0d57c79!2zQUdBIEluc3RpdHV0ZS1BSSDhnpzhnrfhnpHhn5Lhnpnhnrbhnp_hn5LhnpDhnrbhnpPhnqLhnrbhnqDhn5LhnoDhnrYt4Z6cLuGeog!8m2!3d11.5393854!4d104.8866719!16s%2Fg%2F11c1wr5j29!3m5!1s0x310951a0152f9203:0xe9f3722bf701485a!8m2!3d11.5391983!4d104.8868845!16s%2Fg%2F11qq3z5_79?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank" rel="noopener noreferrer">
                                <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                    <img src="../../../../assets/logo/map.png" alt="" srcset="">
                                    <div class="tel-text d-flex ps-3">
                                        Life Cafe
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4">
                            <a style="text-decoration: none;" href="https://maps.app.goo.gl/itAuarEYrvZnq8Hv9"
                                target="_blank" rel="noopener noreferrer">
                                <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                    <img src="../../../../assets/logo/map.png" alt="" srcset="">
                                    <div class="tel-text d-flex ps-3">
                                        Amazing Grace Dorm
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center pt-5">
    <div class="col-xl-8 col-lg-10 col-md-10 pt-5 pb-5">
        <div class="body-content pt-5 pb-5">
            <div class="row d-flex justify-content-center align-items-center sm-whoship ">
                <div class="col-12 position-relative sm-whoship p-0">
                    <img class="home-whorship" src="../../../../assets/contact/content1.jpg" width="100%" alt="">
                    <div class="whorship"></div>
                    <div class="whorship-text d-flex justify-content-center">
                        <div data-aos="zoom-in" data-aos-duration="1500"
                            class="whor-header pt-4 d-flex flex-column align-items-center">
                            <div class="text-head pt-5">
                                Sunday Whorship
                            </div>
                            <div class="text-head pt-3">
                                8:30 am <span class="arrow pe-3 ps-3">-></span> 10:30 am
                            </div>
                            <div class="fs-4">
                                5<sup>st</sup> floor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-xl-8 col-lg-10 col-md-10 pt-5 pb-5">
        <div class="body-content pt-5 pb-5">
            <div class="row d-flex justify-content-center align-items-center sm-whoship ">
                <div class="col-12 position-relative sm-whoship p-0">
                    <img class="home-whorship" src="../../../../assets/contact/content2.jpg" width="100%" alt="">
                    <div class="whorship"></div>
                    <div class="whorship-text whorship-text-one d-flex justify-content-center">
                        <div data-aos="zoom-in" data-aos-duration="1500"
                            class="whor-header d-flex flex-column align-items-center">
                            <div class="text-head text-head-one  fw-bold">
                                May God Bless You !
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>