<div class="top-contain position-relative">
    <div class="top-img position-relative">
        <img src="../../../../assets/contact/headerbg.jpg" alt="">
        <div class="img-bg"></div>
    </div>

    <div class="row top-card d-flex justify-content-center align-items-center">
        <div class="col-12 col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="top-text d-flex justify-content-center align-items-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 row p-0 small-sc">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4 sc-md">
                            <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                <img src="../../../../assets/logo/tele.jpg" alt="" srcset="">
                                <div class="tel-text d-flex ps-3">
                                    AGC Christian Discovery
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4">
                            <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                <img src="../../../../assets/logo/tele.jpg" alt="" srcset="">
                                <div class="tel-text d-flex ps-3">
                                    AGC Christian Discovery
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4">
                            <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                <img src="../../../../assets/logo/tele.jpg" alt="" srcset="">
                                <div class="tel-text d-flex ps-3">
                                    AGC Christian Discovery
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-4">
                            <div class="card-contact p-3 d-flex justify-content-start align-items-center">
                                <img src="../../../../assets/logo/tele.jpg" alt="" srcset="">
                                <div class="tel-text d-flex ps-3">
                                    AGC Christian Discovery
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center pt-5">
    <div class="col-xl-8 col-lg-10 col-md-10 pt-5 pb-5">
        <div class="body-content pt-5 pb-5">
            <div class="row d-flex justify-content-center align-items-center sm-whoship ">
                <div class="col-12 position-relative sm-whoship p-0">
                    <img class="home-whorship" src="../../../../assets/home/content/content4.jpg" width="100%" alt="">
                    <div class="whorship"></div>
                    <div class="whorship-text d-flex justify-content-center">
                        <div class="whor-header d-flex flex-column align-items-center">
                            <div class="text-head">
                                Why we worship to lord ?
                            </div>
                            <div class="text-dsc text-center pt-lg-5 pt-md-5 pt-sm-4">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the
                                printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-xl-8 col-lg-10 col-md-10 pt-5 pb-5">
        <div class="body-content pt-5 pb-5">
            <div class="row d-flex justify-content-center align-items-center sm-whoship ">
                <div class="col-12 position-relative sm-whoship p-0">
                    <img class="home-whorship" src="../../../../assets/home/content/content4.jpg" width="100%" alt="">
                    <div class="whorship"></div>
                    <div class="whorship-text d-flex justify-content-center">
                        <div class="whor-header d-flex flex-column align-items-center">
                            <div class="text-head">
                                Why we worship to lord ?
                            </div>
                            <div class="text-dsc text-center pt-lg-5 pt-md-5 pt-sm-4">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the
                                printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>