<div class="top-contain position-relative">
    <div class="top-img position-relative">
        <img src="../../../../assets/band/header/headerbg.jpg" alt="">
        <div class="img-bg"></div>
    </div>

    <div class="row top-card d-flex justify-content-center">
        <div class="top-text text-center">
            AGA Worship Band
        </div>
        <div class="p-xl-4 p-lg-4 p-md-4 p-2"></div>
        <div class="col-xl-9 col-lg-10 col-md-10 col-12 row user ps-md-4">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 p-2 top-img1 d-flex justify-content-center"><img
                    src="../../../../assets/band/header/head1.jpg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 p-2 d-flex justify-content-center"><img
                    src="../../../../assets/band/header/head2.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="home-body-card row d-flex justify-content-center p-3">
    <div class="p-xl-5 p-lg-5 p-md-5"></div>

    <div class="col-xl-9 col-lg-10 col-md-10 ">
        <div class="row buttom-card">
            <div class="col-xl-4 col-lg-5 col-md-12 p-0 ">
                <img class="buttom-card-image" src="../../../../assets/band/member/phanun.jpg" alt="" srcset="">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12  d-flex flex-column align-items-center">
                <div class="card-head pb-xl-4 pb-lg-2 pb-md-2 pt-md-4 pt-lg-2">Piano Player</div>
                <div class="card-text text-center p-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book.
                </div>
            </div>
        </div>
    </div>


    <div class="p-xl-5 p-lg-5 p-md-5 p-2"></div>
</div>

<div class="home-body-buttom row d-flex justify-content-center p-3">
    <div class="p-xl-5 p-lg-5 p-md-5"></div>

    <div class="col-xl-9 col-lg-10 col-md-10 ">
        <div class="row card-buttom">
            <div class="col-xl-6 col-lg-6 col-md-12 p-2 ">
                <img class="buttom-image" src="../../../../assets/band/buttom/buttom1.jpg" alt="" srcset="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 p-2 ">
                <img class="buttom-image" src="../../../../assets/band/buttom/buttom2.jpg" alt="" srcset="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 p-2 ">
                <img class="buttom-image" src="../../../../assets/band/buttom/buttom3.jpg" alt="" srcset="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 p-2 ">
                <img class="buttom-image" src="../../../../assets/band/buttom/buttom4.jpg" alt="" srcset="">
            </div>

        </div>
    </div>


    <div class="p-xl-5 p-lg-5 p-md-5 p-2"></div>
</div>